<?xml version="1.0"?>
<config>
    <modules>
        <Samumaretiya_Autoshippingmethod>
            <version>0.1.0</version>
        </Samumaretiya_Autoshippingmethod>
    </modules>
    <frontend>
        <routers>
            <autoshippingmethod>
                <use>standard</use>
                <args>
                    <module>Samumaretiya_Autoshippingmethod</module>
                    <frontName>Samumaretiya_Autoshippingmethod</frontName>
                </args>
            </autoshippingmethod>
        </routers>
    </frontend>
	
    <admin>
        <routers>
			<autoshippingmethod>
				<use>admin</use>
				<args>
					<module>Samumaretiya_Autoshippingmethod</module>
					<frontName>autoshippingmethod</frontName>
				</args>
			</autoshippingmethod>
        </routers>
    </admin>
	<global>
		<models>
			<autoshippingmethod>
				<class>Samumaretiya_Autoshippingmethod_Model</class>
			</autoshippingmethod>
		</models>
		<helpers>
            <autoshippingmethod>
                <class>Samumaretiya_Autoshippingmethod_Helper</class>
            </autoshippingmethod>
        </helpers>
		<events>
			<sales_quote_collect_totals_before> <!-- checkout_cart_product_add_after -->
				<observers>
					<autoshippingmethod_set_shipping_observer>
						<type>singleton</type>
						<class>autoshippingmethod/observer</class>
						<method>autoshippingmethod</method>
					</autoshippingmethod_set_shipping_observer>
				</observers>
			</sales_quote_collect_totals_before>
		</events>
	</global>
</config>